{% extends_admingenerated "NitraProductBundle:ParameterNew:index.html.twig" %}

{% trans_default_domain "NitraProductBundleParameter" %}

{% block javascript_head %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            var oldValueTypeChange = $('#{{ form.valueType.vars.id }}').val();
            typer(oldValueTypeChange, 0, true);
            $('#{{ form.valueType.vars.id }}').on('change', function(){
                typer($(this).val(), 300, false);
                oldValueTypeChange = $(this).val();
            });
            function typer(val, speed, onLoad) {
                {% if form.parameterRanges is defined %}
                    if (val == 'digit') {
                        $("[id*='{{ form.parameterRanges.vars.id }}']").parents('.form_row').slideDown(speed);
                    } else {
                        $("[id*='{{ form.parameterRanges.vars.id }}']").parents('.form_row').slideUp(speed);
                    }
                {% endif %}

                if (val == 'text') {
                    var conf = onLoad ? true : confirm('{{ 'fields.valueType.js.onTextChoice'|trans }}');
                    if (conf) {
                        {% if form.isFilter is defined %}
                            $("#{{ form.isFilter.vars.id }}").parents('.form_row').slideUp(speed);
                        {% endif %}
                        {% if form.isFilterShow is defined %}
                            $("#{{ form.isFilterShow.vars.id }}").parents('.form_row').slideUp(speed);
                        {% endif %}
                        {% if form.sortOrderInFilter is defined %}
                            $("#{{ form.sortOrderInFilter.vars.id }}").parents('.form_row').slideUp(speed);
                        {% endif %}
                        {% if form.isMultiple is defined %}
                            $("#{{ form.isMultiple.vars.id }}").parents('.form_row').slideUp(speed);
                        {% endif %}
                        {% if form.isSiteMultiple is defined %}
                            $("#{{ form.isSiteMultiple.vars.id }}").parents('.form_row').slideUp(speed);
                        {% endif %}
                        {% if form.isDynamicValues is defined %}
                            $("#{{ form.isDynamicValues.vars.id }}").parents('.form_row').slideUp(speed);
                        {% endif %}
                        $('div.form_admin div.tabs a[data-tab=".form_fieldset_Tabs_values"]').css('display', 'none');
                    } else {
                        $('#{{ form.valueType.vars.id }}').val(oldValueTypeChange);
                    }
                } else {
                    {% if form.isFilter is defined %}
                        $("#{{ form.isFilter.vars.id }}").parents('.form_row').slideDown(speed);
                    {% endif %}
                    {% if form.isFilterShow is defined %}
                        $("#{{ form.isFilterShow.vars.id }}").parents('.form_row').slideDown(speed);
                    {% endif %}
                    {% if form.sortOrderInFilter is defined %}
                        $("#{{ form.sortOrderInFilter.vars.id }}").parents('.form_row').slideDown(speed);
                    {% endif %}
                    {% if form.isMultiple is defined %}
                        $("#{{ form.isMultiple.vars.id }}").parents('.form_row').slideDown(speed);
                    {% endif %}
                    {% if form.isSiteMultiple is defined %}
                        $("#{{ form.isSiteMultiple.vars.id }}").parents('.form_row').slideDown(speed);
                    {% endif %}
                    {% if form.isDynamicValues is defined %}
                        $("#{{ form.isDynamicValues.vars.id }}").parents('.form_row').slideDown(speed);
                    {% endif %}
                    $('div.form_admin div.tabs a[data-tab=".form_fieldset_Tabs_values"]').css('display', 'inline-block');
                }
            }
        });
    </script>
{% endblock javascript_head %}