{% extends_admingenerated "NitraProductBundle:ProductEdit:index.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/nitraproduct/css/product.less'  %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascript_head %}
    {{ parent() }}
    {% if form.color is defined %}
        {% javascripts '@NitraProductBundle/Resources/public/js/loadColors.js' %}
            <script src="{{ asset_url }}"></script>           
        {% endjavascripts %}
        <script type="text/javascript">
            $(document).ready(function(){
                $('#{{ form.color.vars.id }}').loadColors({
                    path:       '{{ path("Nitra_ProductBundle_loadColors") }}'
                });
            });
        </script>
    {% endif %}
{% endblock javascript_head %}