{% extends_admingenerated "NitraProductBundle:ModelList:row.html.twig" %}

{% block list_td_column_updatedAndCreated '' %}
    
{% block list_td_column_products %}
    {% include 'NitraProductBundle:ModelList:productList.html.twig' with { 'model': Model } %}
{% endblock list_td_column_products %}

{% block list_td_column_image -%}
    <img src="{{ Model.image }}" style="max-height: 100px; max-width:100px;">
{%- endblock list_td_column_image %}