{% extends_admingenerated "NitraProductBundle:BrandList:row.html.twig" %}

{% block list_td_column_image %}
    {% if Brand.image is not empty %}
        <img src="{{ Brand.image }}" style="max-height: 100px; max-width: 100px;">
    {% endif %}
{% endblock %}