{% extends_admingenerated "NitraProductBundle:ColorEdit:index.html.twig" %}

{# Подключение скриптов для выбора цвета #}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@NitraProductBundle/Resources/public/js/colorpicker.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{# Подключение стилей для выбора цвета #}
{% block stylesheets %} 
    {{ parent() }}
    {% stylesheets '@NitraProductBundle/Resources/public/css/colorpicker.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}