{% extends_admingenerated "NitraProductBundle:ModelEdit:form.html.twig" %}

{% trans_default_domain "NitraProductBundleModel" %}

{% block form_fieldset_Tabs_data %}
    {{ parent() }}
    {% if form.vars.commonProductsFields is not empty %}
        <fieldset class="form_block form_fieldset_Tabs_data fieldset_tabbable">
            <legend style="display: block;">
                <span>
                    {{- 'tabs.commonProductsFields'|trans -}}
                </span>
            </legend>
            {% for commonField in form.vars.commonProductsFields %}
                {{ form_row(form['common_products_field_' ~ commonField]) }}
            {% endfor %}
        </fieldset>
    {% endif %}
{% endblock form_fieldset_Tabs_data %}

{% block form_products %}
    {% if form.products is defined %}
        {{ form_widget(form.products, {'formType': 'nlcollection', 'icon': ''}) }}
    {% endif %}
{% endblock form_products %}