{% extends_admingenerated "NitraProductBundle:ModelEdit:index.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#edit_products-edit_model_products').on('click', '.show_row_content', function() {
                var $row = $(this).parent().parent().nextAll('.row_content').first();
                if ($row.is(':visible')) {
                    $row.slideUp();
                } else {
                    $row.slideDown();
                    $row.children('td').slideDown();
                }
                return false;
            });
            $('#edit_products-edit_model_products').on('click', '.show_hidden_content', function() {
                $(this).next('.hidden_content').slideToggle();
                return false;
            });
        });
    </script>
{% endblock javascripts %}