{% extends_admingenerated "NitraProductBundle:CategoryList:row.html.twig" %}

{% block list_td_column_image %}
    {% if Category.image is not empty %}
        <img src="{{ Category.image }}" style="max-height: 100px; max-width: 100px;">
    {% endif %}
{% endblock %}