{% extends_admingenerated "NitraProductBundle:ParameterList:row.html.twig" %}
{% trans_default_domain "NitraProductBundle" %}

{% block list_td_column_valueType %}
    {{ Parameter.valueType|trans }}
{% endblock list_td_column_valueType %}
