{% block nl_accessories_widget %}
{% spaceless %}
    <label onclick="" for="{{ form.vars.id }}_categories">
        {{ cat_label|trans({}, translation_domain) }}
    </label>
    <div class="field_content">
        <input type="hidden" id="{{ id }}_categories">
    </div>
    {% use "NitraProductBundle:Form:fields.html.twig" %}
    <div id="{{ id ~ '_widget_container' }}" class="double-list">
        <div class="list-unselected dropdown open">
            <div class="double-list-label">{{ 'afe_double_list.unselected'|trans({}, 'AvocodeFormExtensions') }}</div>
            <ul id="{{ id }}_unselected" class="double-list-dropdown dropdown-menu" role="menu" aria-labelledby="dropdownMenu"{% if unselected_styles %} style="{{ unselected_styles|raw }}"{% endif %}>
                {% for choice in choices if (choice is not selectedchoice(value)) %}
                    <li data-value="{{ choice.value }}">
                        <a tabindex="-1" href="#">{{ choice.label|trans({}, translation_domain) }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="list-controls">
            <div class="double-list-label">&nbsp;</div>

            <div class="double-list-controls">
                <div class="btn-group btn-group-vertical">
                    <button type="button" class="btn btn-large unselect"><i class="icon-chevron-left icon-large"></i></button>
                    <button type="button" class="btn btn-large select"><i class="icon-chevron-right icon-large"></i></button>
                </div>
            </div>
        </div>
        <div class="list-selected dropdown open">
            <div class="double-list-label">{{ 'afe_double_list.selected'|trans({}, 'AvocodeFormExtensions') }}</div>
            <ul id="{{ id }}_selected" class="double-list-dropdown dropdown-menu" role="menu" aria-labelledby="dropdownMenu"{% if selected_styles %} style="{{ selected_styles|raw }}"{% endif %}>
                {% for id, label in data %}
                    <li data-value="{{ id }}">
                        <a tabindex="-1" href="#">{{ label|trans({}, translation_domain) }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% if required and empty_value is none and not empty_value_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if empty_value is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
        {%- endif %}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {% if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif %}
        {%- endif -%}
        {% set options = choices -%}
        {% for id, label in data %}
            <option value="{{ id }}" selected="selected">{{ label|trans({}, translation_domain) }}</option>
        {% endfor %}
    </select>
    </div>
{% endspaceless %}
{% endblock nl_accessories_widget %}

{% block nl_accessories_javascript %}
    {{ form_javascript(form) }}
    <script type="text/javascript">
        $(document).ready(function() {
            var $field = $('#{{ id }}_categories');
            $field.select2({
                multiple:    false,
                allowClear:  false,
                placeholder: '',
                data:        {{ categories|json_encode|raw }}
            });
            $field.change(function() {
                var category = $(this).val();
                if (category == '') {
                    $('#{{ id }}_unselected').empty();
                }
                var products = [];
                $('#{{ id }}_selected li').each(function() {
                    products.push($(this).data('value'));
                });
                $.ajax({
                    url: '{{ path("Nitra_ProductBundle_findUnselectedAccessoriesByCategory") }}',
                    type: 'get',
                    data: {
                        category: category,
                        products: products
                    },
                    success: function(data) {
                        var ret = $.parseJSON(data);
                        $('#{{ id }}_unselected').empty();
                        $('#{{ id }} > option').each(function() {
                            if(!($.inArray($(this).val(), products) + 1)) {
                                $(this).remove();
                            }
                        });
                        $.each(ret, function(id, name) {
                            $('#{{ id }}').append(
                                '<option value="' + id + '">' + name + '</option>'
                            );
                            $('#{{ id }}_unselected').append(
                                '<li data-value="' + id + '"><a tabindex="-1" href="#"> ' + name + '</a></li>'
                            );
                        });
                        $('#{{ id }}').doubleList('destroy');
                        $('#{{ id }}').doubleList();
                    }
                });
            });
        });
    </script>
{% endblock nl_accessories_javascript %}