{% block nl_translation_widget %}
    {% set name = form.vars.full_name|replace({'[': '_', ']': '_'}) %}
    <div id="form_{{ name }}" class="lang_tabs">
        {% for child in form %}
            <a data-tab="#nl_translation_{{ name }}_{{ child.vars.name }}" class="{{ child.vars.name }}" title="{{ ('locales.' ~ child.vars.name)|trans({}, 'NitraProductBundle') }}">
                
            </a>
        {% endfor %}
    </div>
    <div id="tabs_{{ name }}" class="tab_content lang_tab_content">
        {% for child in form %}
            <div id="nl_translation_{{ name }}_{{ child.vars.name }}">
                {{ form_widget(child) }}
            </div>
        {% endfor %}
    </div>
{% endblock nl_translation_widget %}

{% block nl_translation_javascript %}
    {% set name = form.vars.full_name|replace({'[': '_', ']': '_'}) %}
    <script type="text/javascript">
        $(document).ready(function(){
            $.tabs('#form_{{ name }} a');
        });
    </script>
    {% for child in form %}
        {{ form_javascript(child) }}
    {% endfor %}
{% endblock nl_translation_javascript %}