{% block nl_tree_category_row %}
    {% spaceless %}
        <div class="form_row field_nl_tree_category">
            {{ form_label(form) }}
            <div class="field_content">
                {{ form_errors(form) }}
                {{ form_widget(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock nl_tree_category_row %}