{% extends_admingenerated "NitraProductBundle:ColorList:row.html.twig" %}

{% block list_td_column_color %}
    {% if Color.color %}
        <div style="width: 50px; height: 50px; background-color: #{{ Color.color }}"></div>
    {% endif %}
{% endblock list_td_column_color %}
    
{% block list_td_column_image %}
    {% if Color.image %}
        <img src="{{ Color.image }}" style="max-width: 50px; max-height: 50px;">
    {% endif %}
{% endblock list_td_column_image %}